/* default resets */
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

/* classes */
.container{
  block-size: 350px;
  inline-size: 450px;

  position:absolute;
  top: 50%;
  left:50%;
  transform:
  translate(-50%, -60%);

  perspective: 900px; /*so the effects applied to .scene have perspective lover */
  background-color: black;
  overflow: visible;
}


/* id's */
 #scene{
    border: 75px solid black;
    border-radius: 20px/10px;
    background-color: black;
}

#back{
  block-size:200px;
  inline-size:300px; 
  background-image:url(assets/background.svg);
}

#alien{
  block-size:280px;
  position:absolute;
  top: 60%;
  left:65%;

  transform:
  translate(-35%, -70%);
  
  pointer-events: none;
}

/* hover's */
#scene:hover {
transform:
  rotateY(25deg)
  rotateX(25deg);
box-shadow: -10px 10px 34px rgba(0,255, 255,.4);
transition:3s; 
}

#scene:hover #back{
  box-shadow:  -20px 20px 15px rgba(0,0,0, .7) inset;
  background-position: 30% 10%;
  transition: 5s;
}

.container:hover #alien{
  transition:2s;
  transform:
  translate(-35%, -70%) 
  scale(1.2)
  rotateX(-25deg);
}

@media(max-width: 500px){
  .container{
    block-size: 120px;
    inline-size: 210px;
  }
  

    #scene{
      border: 35px solid black;
      border-radius: 20px/10px;
      background-color: black;
  }
  
  #back{
    block-size:120px;
    inline-size:150px; 
    background-image:url(assets/background.svg);
  }
  
  #alien{
    block-size:180px;
    position:absolute;
  
  }
}